//Colores base de la web
$pink: #c9047d;




//Se asignan a la paleta de colores de bootstrap
$primary: $pink;

$nav-link-color: #c9047d;

//Tipografia
$display-font-weight: 800;






@import '../../node_modules/bootstrap/scss/bootstrap.scss';